.btn {
    border-radius: 10px;
    font-size: 14px ;
    padding: 8px 25px 8px 25px ;
    color: white;
}

@media screen and (max-width: 576px) {
    .btn {
        font-size: 12px ;
        padding: 8px 25px 8px 25px ;
        color: white;
    }
    
    }
   