

.Tips {
    background-color: pink;
    color : red;
    border-radius: 5px;
    padding: 2px 10px 2px 10px; 
}

.Business {
    background-color: rgb(192, 231, 255);
    color : rgb(4, 0, 255);
    border-radius: 5px;
    padding: 2px 10px 2px 10px; 
}

.Consulting {
    background-color: rgb(145, 235, 163);
    color : rgb(4, 149, 26);
    border-radius: 5px;
    padding: 2px 10px 2px 10px; 
}